@model ASP.NET_MVC_App.Models.Employee
@using ASP.NET_MVC_App.Models

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .card {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .successmsg {
            color: green;
        }
        .control label{
            margin-bottom: 5px;
        }
    </style>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#stateid').attr('disabled', true);
            $('#cityid').attr('disabled', true);
            $('#countryid').on('change', function () {
                $('#stateid').attr('disabled', false);
                $('#stateid').empty();
                $('#stateid').append('<Option>--Select State--</Option>');
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetStates")',
                    dataType:'json',
                    data: { 'Countryid': $('#countryid').val() },

                    success: function (statelist) {

                        for (var i = 0; i < statelist.length; i++) {
                            var opt = new Option(statelist[i].Text, statelist[i].Value);
                            $('#stateid').append(opt);
                        }
                    },
                    error: function () {
                        alert('something went wrong!');
                    }
                });
            });

        $('#stateid').on('change', function () {
            $('#cityid').attr('disabled', false);
            $('#cityid').empty();
            $('#cityid').append('<Option>--Select City--</Option>');
             $.ajax({
             type: 'GET',
             url: '@Url.Action("GetCities")',
             dataType:'json',
             data: { 'Stateid': $('#stateid').val() },

                    success: function (citylist) {

                        for (var i = 0; i < citylist.length; i++) {
                            var opt = new Option(citylist[i].Text, citylist[i].Value);
                            $('#cityid').append(opt);
                        }
                    },
                    error: function () {
                        alert('something went wrong!');
                    }
                });

            });
        });
    </script>

</head>
<body>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="container">
                @using (Html.BeginForm("Index", "Employee", FormMethod.Post, new {@enctype="multipart/form-data"}))
                {
                    {
                        @Html.AntiForgeryToken()

                        <div class="card">
                            <div class="card-header">
                                <div class="text-center">Registration - Form</div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Name, new { @style = "margin-bottom:10px;" })
                                    @Html.TextBoxFor(x => x.Name, "", new { @class = "form-control", @placeholder = "Name" })<br />
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Email, new { @style = "margin-bottom:10px;" })
                                    @Html.TextBoxFor(x => x.Email, "", new { @class = "form-control", @placeholder = "Email" })<br />
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Address, new { @style = "margin-bottom:10px;" })
                                    @Html.TextAreaFor(x => x.Address, 5, 10, new { @class = "form-control", @placeholder = "Address" })<br />
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Gender, new { @style = "margin-right:10px;" })
                                    @Html.RadioButtonFor(x => x.Gender, "Male", true)@Html.Label("Male", new { @style = "margin-right:10px;" })
                                    @Html.RadioButtonFor(x => x.Gender, "Female", false)@Html.Label("Female") <br /> <br />
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Contact, new { @style = "margin-bottom:10px;" })
                                    @Html.TextBoxFor(x => x.Contact, "", new { @type = "number", @class = "form-control", @placeholder = "Contact" })<br />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Country</label>
                                    @if (ViewBag.CountryList != null)
                                    {
                                        @Html.DropDownListFor(x => x.countryid, (List<SelectListItem>)ViewBag.CountryList, "-- Select Country--", new { @class = "form-control" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(x => x.countryid, new SelectList(string.Empty, "Text", "Value"), "-- Select Country--", new { @class = "form-control" })
                                    }
                                    <br />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">State</label>
                                    @if (ViewBag.StateList != null)
                                    {
                                        @Html.DropDownListFor(x => x.stateid, (List<SelectListItem>)ViewBag.StateList, "-- Select State--", new { @class = "form-control" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(x => x.stateid, new SelectList(string.Empty, "Text", "Value"), "-- Select State--", new { @class = "form-control" })
                                    }
                                    <br />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">State</label>
                                    @if (ViewBag.CityList != null)
                                    {
                                        @Html.DropDownListFor(x => x.cityid, (List<SelectListItem>)ViewBag.CityList, "-- Select City--", new { @class = "form-control" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(x => x.cityid, new SelectList(string.Empty, "Text", "Value"), "-- Select City--", new { @class = "form-control" })
                                    }
                                    <br />
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Password, new { @style = "margin-bottom:10px;" })
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })<br />
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Image, new { @style = "margin-bottom:10px;" })
                                    @Html.TextBoxFor(x => x.Image, new { @class = "form-control", @type = "file" })
                                    @if (ViewBag.Image != null)
                                    {
                                        <img src="~/Image/@ViewBag.Image" width="70px" height="70px" />
                                    }
                                    <br />
                                </div>

                                <div>
                                    @Html.CheckBoxFor(x => x.tc, new { @style = "margin-right:10px;" })<label>I agree to terms and condition</label> <br /><br />
                                </div>

                                <div class="form-group">
                                    @if (TempData["msg"] != null)
                                    {
                                        @Html.Label(TempData["msg"].ToString(), new { @class = "successmsg" })
                                    }
                                </div>

                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-success" value="Register" />
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div>
        @if (ViewData["EmployeeList"] != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Contact</th>
                        <th>Password</th>
                        <th>Address</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<Employee>)ViewData["EmployeeList"])
                    {
                    <tr>
                        <td>@item.EmployeeId</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Gender</td>
                        <td>@item.Contact</td>
                        <td>@item.Password</td>
                        <td>@item.Address</td>
                        <td>@item.countryobj.countryname</td>
                        <td>@item.stateobj.statename</td>
                        <td>@item.cityobj.cityname</td>
                        <td>
                            <img src="~/Image/@item.Image" width="70px" height="70px" />
                        </td>
                        <td>
                            <a href="@Url.Action("Index","Employee", new {employeeid = item.EmployeeId})" class="btn btn-success">Edit</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
           <h1> No Records Found!</h1>
        }
    </div>

</body>
</html> 